{% extends "core.html" %}
{% block content %}
<div class="container">
<h2>{{ collection.name }}</h2>
{% markdown %}
{{ collection.description }}
{% endmarkdown %}
<table class="table">
    <tr>
        <th>Product</th>
        <th>Uploaded</th>
        <th>Version</th>
    </tr>
    {% for product in collection.products %}
    <tr>
        <td><a href='../products/{{ product.id | e}}'>{{ product.name }}</a></td>
        <td>{{ product.uploaded.strftime('%Y-%m-%d %H:%M:%S') }}</td>
        <td>{{ product.version }}</td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}