<div class="d-flex flex-column gap-3 align-items-center">
    <div>
        <p>
          In order to upload products, please provide your NERSC user name.
        </p>
       <form id="compliance-info">
          <label class="form-label small fw-bold" style="width: 300px">
              NERSC user name
              <input
                class="form-control small"
                style="font-size: 1em;"
                type="text"
                name="nersc_user_name"
                placeholder="Enter user name"
              />
          </label>
       </form>
    </div>
    <div>
        <button form="compliance-info" type="submit" class="btn btn-outline-primary">Submit</button>
    </div>
</div>