{% set parent_length = parents|length %}
{% set child_length = children|length %}
<!-- we only render 5 items but, if necessary, we render a 6th element for overflow data -->
{% set max_items_rendered = 6 %}
<!-- spacing is calculated based on number of items rendered + 1 -->
{% set max_num_of_equal_widths = max_items_rendered + 1 %}
<!-- arbitrarily set item width at 125px -->
{% set item_width = 125 %}
{% set max_svg_width = max_items_rendered * item_width %}
{% set svg_width = ((parent_length if parent_length > child_length else child_length) * item_width) if (parent_length < max_items_rendered and child_length < max_items_rendered) else max_svg_width %}
{% set svg_height = 250 %}
{% set y_adjustment = 0 if parent_length == 1 else (50 if parent_length < 1 else -20) %}
<svg width="{{ svg_width }}" height="{{ svg_height }}">
    <defs>
        <!-- define a down arrow to be used in the diagram -->
        <marker 
          id='head' 
          orient="auto" 
          markerWidth='3' 
          markerHeight='4' 
          refX='0.1' 
          refY='2'
        >
          <path d='M0,0 V4 L2,2 Z' fill="black" />
        </marker>
    </defs>

    <!--BEGIN SVG ELEMENTS FOR PARENT(S) -->
    {% if parent_length %}
        <!-- used to divide up the svg_width when calculating x position of items' text and lines -->
        {% set num_of_parent_equal_widths = max_num_of_equal_widths if parent_length >= max_items_rendered else (parent_length + 1) %}
        {% set x1 = svg_width / num_of_parent_equal_widths %}
        {% for index in range(parent_length) %}
            {% set x2 = x1 * (index + 1) %}
            <!-- render links to items up until the max -->
            {% if index < (max_items_rendered - 1) %}
                <text
                    text-anchor="middle"
                    x="{{x2}}"
                    y="15"
                    data-bs-toggle="tooltip"
                    title="{{ parents[index].name }}"
                >
                    <a href="{{ web_root }}/{{relationship_type}}s/{{parents[index].id | e}}">{{parents[index].name|truncate(11, True)}}</a>
                </text>
            {% endif %}
            <!-- with multiple parents, we need some lines to show the connection -->
            {% if parent_length > 1 and index < max_items_rendered %}
                <!-- draw a vertical line from the text -->
                <path
                    stroke-width="2"
                    stroke="black"
                    d="M{{x2}},25, {{x2}},45"
                />
                <!-- draw a horizontal line that connects with the vertical line above and to neighboring horizontal line(s) -->
                <path
                    stroke-width="2"
                    stroke="black"
                    d="M{{x1}},44 {{x2}},44"
                />
            {% endif %}
        {% endfor %}
        <!-- create the "overflow" item that renders the remaining items as links in a Bootstrap popover -->
        {% if parent_length >= max_items_rendered %}
            <text
                text-anchor="middle"
                x="{{ x1 * max_items_rendered }}"
                y="15"
                data-bs-toggle="popover"
                data-bs-title="Additional parent {{relationship_type}}{{'' if parent_length == max_items_rendered else 's'}}"
                data-bs-html="true"
                data-bs-trigger="click hover"
                data-bs-content="{{parents_overflow_content}}"
            >
                <!--Using a link with a noop function will allow keyboard accessibility to toggle popover-->
                <a
                    href="#"
                    onclick="noop(event)"
                >...</a>
            </text>
        {% endif %}
        {% set y3_adjustment = 0 if parent_length == 1 else 20 %}
        <!-- draw vertical line with down arrow pointing from parent(s) to currently-viewed item -->
        <path
            id='arrow-line'
            marker-end='url(#head)'
            stroke-width='2'
            fill='none'
            stroke='black'
            d="M{{ svg_width / 2 }},{{25 + y3_adjustment}}, {{svg_width / 2}},{{50 + y3_adjustment}}"
        />
    {% endif %}
    <!-- END -->

    <!-- BEGIN SVG ELEMENTS FOR CURRENT ITEM -->
    <!-- render a green circle next to the currently-viewed item, similar to the UI indiciating which version is being viewed -->
    <circle 
        fill="#198754"
        r="4"
        cx="{{svg_width / 2 - 45}}"
        cy="{{65 - y_adjustment}}"
        data-bs-toggle="tooltip"
        title="You are currently viewing this {{relationship_type}}"
    />
    <!-- render text for current item -->
    <text
        text-anchor="middle"
        x="{{ svg_width / 2 }}"
        y="{{70 - y_adjustment }}"
        data-bs-toggle="tooltip"
        title="{{ current_item_name }}"
        class="fw-bold"
        >{{current_item_name|truncate(11, True)}}</text>
    <!-- END -->

    <!-- BEGIN SVG ELEMENTS FOR CHILD(REN) -->
    {% if child_length %}
        <!-- draw vertical line from current item's text that will connect to the horizontal line used to connect children -->
        {% if child_length != 1 %}
        <path
            stroke-width="2"
            stroke="black"
            d="M{{ svg_width / 2 }},{{75 - y_adjustment}}, {{ svg_width / 2}},{{100 - y_adjustment}}"
        />
        {% endif %}
        <!-- set a y adjustment based on whether or not the vertical line above is present -->
        {% set y2_adjustment = y_adjustment if child_length > 1 else (y_adjustment + 20) %}
        <!-- used to divide up the svg_width when calculating x position of items' text and lines -->
        {% set num_of_child_equal_widths = max_num_of_equal_widths if child_length >= max_items_rendered else (child_length + 1) %}
        {% set x1 = svg_width / num_of_child_equal_widths %}
        {% for index in range(child_length) %}
            {% set x2 = x1 * (index + 1) %}
            {% if child_length > 1 and index < max_items_rendered %}
            <!-- draw a horizontal line that connects with the vertical line above and to neighboring horizontal line(s) -->
            <path
                stroke-width="2"
                stroke="black"
                d="M{{x1}},{{100 - y2_adjustment}} {{x2}},{{100 - y2_adjustment}}"
            />
            <!-- draw a vertical line with down arrow from the horizontal line to each item's text -->
            <path
                id='arrow-line'
                marker-end='url(#head)'
                stroke-width='2'
                fill='none'
                stroke='black'
                d="M{{x2}},{{99 - y2_adjustment}}, {{x2}},{{120 - y2_adjustment}}"
            />
            {% endif %}
            <!-- render links to items up until the max -->
            {% if index < (max_items_rendered - 1) %}
                <text
                    text-anchor="middle"
                    x="{{x2}}"
                    y="{{140 - y2_adjustment}}"
                    data-bs-toggle="tooltip"
                    title="{{ children[index].name }}"
                >
                    <a href="{{ web_root }}/{{relationship_type}}s/{{children[index].id | e}}">{{children[index].name|truncate(11, True)}}</a>
                </text>
            {% endif %}
        {% endfor %}
        <!-- create the "overflow" item that renders the remaining items as links in a Bootstrap popover -->
        {% if child_length >= max_items_rendered %}
            <text
                text-anchor="middle"
                x="{{ x1 * max_items_rendered }}"
                y="{{140 - y2_adjustment}}"
                data-bs-toggle="popover"
                data-bs-title="Additional child {{relationship_type}}{{'' if child_length == max_items_rendered else 's'}}"
                data-bs-html="true"
                data-bs-trigger="click hover"
                data-bs-content="{{children_overflow_content}}"
            >
                <!--Using a link with a noop function will allow keyboard accessibility to toggle popover-->
                <a
                    href="#"
                    onclick="noop(event)"
                >...</a>
            </text>
        {% endif %}
    {% endif %}
    <!-- END -->
</svg>