{% extends "core.html" %}
{% block content %}
<div class="container-fluid fs-base">
    <h2>
        Search by Metadata
    </h2>
    <form
        id="search-metadata-form"
        role="search"
        action="/web/searchmetadata/results"
        method="get"
        onsubmit="submitMetadataSearch(event)"
    >
        <div style="width: 15rem;">
            <select
                class="form-select form-select-sm"
                id="metadata-type-select"
                aria-label="Choose metadata type"
                name="metadata_type"
                onchange="showFields(this.value)"
            >
                <option value="">Choose a metadata type</option>
                {% for class_name, fields in metadata.items() %}
                    <option value="{{ class_name }}">{{ class_name }}</option>
                {% endfor %}
            </select>
        </div>
        {% for class_name, fields in metadata.items() %}
            <div
                id="{{ class_name }}-fields"
                class="flex-column align-items-center gap-3 metadata-fields input-group input-group-sm mt-3 p-3 border border-light"
                style="display: none; max-width: 1200px;"
            >
                {% if fields.items()|length > 1 %}
                    <fieldset>
                        <legend class="fs-6 fw-bolder">Metadata Fields</legend>
                        {% for field_name, field_type in fields.items() %}
                            {% if field_name != 'metadata_type' %}
                                {% if field_type == 'list[int]' or field_type == 'list[float]' %}
                                    <div
                                        class="small d-inline-block m-1 p-2 border border-light rounded-2 bg-light"
                                    >
                                        <div class="fw-bold">{{field_name}}</div>
                                        <label
                                            class="form-label small m-0"
                                            for="{{ class_name }}-{{ field_name}}-min"
                                        >
                                            Min
                                            <input
                                                id="{{ class_name }}-{{ field_name}}-min"
                                                class="form-control small"
                                                type="number"
                                                data-key="{{ field_name }}"
                                                data-minmax="min"
                                                name="{{ field_name }}-min"
                                                style="font-size: 1em; width: 20ch;"
                                                step="{{ 1 if field_type == 'list[int]' else 'any' }}"
                                            >
                                        </label>
                                        <label
                                            class="form-label small m-0"
                                            for="{{ class_name }}-{{ field_name}}-max"
                                        >
                                            Max
                                            <input
                                                id="{{ class_name }}-{{ field_name}}-max"
                                                class="form-control small"
                                                type="number"
                                                data-key="{{ field_name }}"
                                                data-minmax="max"
                                                name="{{ field_name }}-max"
                                                style="font-size: 1em; width: 20ch;"
                                                step="{{ 1 if field_type == 'list[int]' else 'any' }}"
                                            >
                                        </label>
                                    </div>
                                {% elif field_type is string and field_type.startswith('Literals:') %}
                                    <label
                                        class="form-label small m-1 fw-bold"
                                        for="{{ class_name }}-{{ field_name}}"
                                        title="Type: Literal"
                                    >
                                        {{ field_name }}
                                        <select
                                            class="form-select form-select-sm"
                                            id="{{ class_name }}-{{ field_name}}"
                                            name="{{ field_name }}"
                                            style="font-size: 1em;"
                                        >
                                            <option value="" selected>Choose a {{ field_name }}</option>
                                            {% set literals = field_type[9:].split(',') %}
                                            {% for literal in literals %}
                                                <option value="{{ literal.strip() }}">{{ literal.strip() }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                {% else %}
                                    <label
                                        class="form-label small m-1 fw-bold"
                                        for="{{ class_name }}-{{ field_name}}"
                                        title="Type: {{ field_type }}{{ '' if field_type != 'list[str]' else ' (comma-separated strings)'}}"
                                        >
                                        {{ field_name }}
                                        <input
                                            id="{{ class_name }}-{{ field_name}}"
                                            class="form-control small"
                                            type="text"
                                            name="{{ field_name }}"
                                            placeholder="{{ 'Enter text' if field_type != 'list[str]' else 'E.g., value1, value2'}}"
                                            style="font-size: 1em;"
                                        >
                                    </label>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </fieldset>
                    <div>
                        <button class="btn btn-dark btn-sm rounded-1" type="submit">Search {{ class_name }}</button>
                    </div>
                {% else %}
                    <span class="fs-6">No metadata fields</span>
                {% endif %}
            </div>
        {% endfor %}
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
    function showFields(selectedClass) {
        document.querySelectorAll('.metadata-fields').forEach(div => {
            div.style.display = 'none';
            div.querySelectorAll('input').forEach(input => {
                input.disabled = true;
            })
        })

        const selectedFields = document.getElementById(`${selectedClass}-fields`);
        if (selectedFields) {
            selectedFields.style.display = 'flex';
            selectedFields.querySelectorAll('input').forEach(input => {
                input.disabled = false;
            })
        }
    }

    function submitMetadataSearch(e) {
        e.preventDefault();

        const form = document.querySelector("#search-metadata-form");
        const formData = new FormData(form);
        const params = new URLSearchParams();
        const numberInputs = Array.from(form.querySelectorAll('input[type="number"]:not([disabled])'));

        // create a key:value object for the range inputs
        const rangeParams = {};

        formData.forEach((value, key) => {
            if (value) {
                if (Number(value)) {
                    const numberInput = numberInputs.find(el => el.name === key);
                    if (numberInput) {
                        // use the dataset.key HTML attribute that is the same as the
                        // input's name attribute but without the "-min" or "-max" suffix
                        const parentKey = numberInput.dataset.key;
                        const minOrMax =  numberInput.dataset.minmax;

                        rangeParams[parentKey] = {
                            ...rangeParams[parentKey],
                            [minOrMax]: value,
                        }
                    }
                } else {
                    params.append(key, value);
                }
            }
        });

        for (const key in rangeParams) {
            params.append(
                key,
                `${rangeParams[key].min},${rangeParams[key].max}`
            );
        }

        window.location.href = `${form.action}?${params.toString()}`;
    }
</script>
{% endblock %}