{% extends "core.html" %}
{% block content %}
<div class="container-fluid">
    <form class="d-none" method="get" action="/web/logout" id="logout"></form>
    <div class="d-flex align-items-start mt-4 h-100">
        <div class="nav flex-column nav-pills me-3 gap-2 pe-3 border-end border-light-subtle" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <button class="nav-link active" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="true">Account information</button>
          <button class="nav-link" id="v-pills-products-tab" data-bs-toggle="pill" data-bs-target="#v-pills-products" type="button" role="tab" aria-controls="v-pills-products" aria-selected="false">Products</button>
          <button class="nav-link" id="v-pills-privileges-tab" data-bs-toggle="pill" data-bs-target="#v-pills-privileges" type="button" role="tab" aria-controls="v-pills-privileges" aria-selected="false">Privileges</button>
          <button class="nav-link" id="v-pills-compliance-tab" data-bs-toggle="pill" data-bs-target="#v-pills-compliance" type="button" role="tab" aria-controls="v-pills-compliance" aria-selected="false">Compliance information</button>
          <button form="logout" class="btn btn-outline-danger mt-4" id="v-pills-logout-tab" data-bs-toggle="pill" data-bs-target="#v-pills-logout" type="submit" role="tab" aria-controls="v-pills-logout" aria-selected="false">Sign out</button>
        </div>
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
            <ul class="list-group">
                <li class="list-group-item">
                    <h5>User name</h5>
                    <p class="m-0">{{ user.name }}</p>
                </li>
                <li class="list-group-item">
                    <h5>GitHub profile</h5>
                    <p class="m-0">
                        <a href="{{ user.gh_profile_url }}">{{ user.gh_profile_url }}</a>
                    </p>
                </li>
                <li class="list-group-item">
                    <h5>Avatar URL</h5>
                    <p class="m-0">
                        <a href="{{ user.avatar_url }}">{{ user.avatar_url }}</a>
                    </p>
                </li>
                <li class="list-group-item">
                    <h5>Email</h5>
                    <p class="m-0">{{ user.email }}</p>
                </li>
                <li class="list-group-item">
                    <h5>API key</h5>
                    <button class="btn btn-danger btn-sm">Request new API key</button>
                </li>
            </ul>
          </div>
          <div class="tab-pane fade" id="v-pills-products" role="tabpanel" aria-labelledby="v-pills-products-tab" tabindex="0">TODO: fetch user's products</div>
          <div class="tab-pane fade" id="v-pills-privileges" role="tabpanel" aria-labelledby="v-pills-privileges-tab" tabindex="0">
            {% if user.privileges | length > 0 %}
                <ul class="list-group list-group-flush">
                    {% for priv in user.privileges %}
                    <li class="list-group-item small p-1">{{ priv }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <span>none</span>
            {% endif %}
          </div>
          <div class="tab-pane fade" id="v-pills-compliance" role="tabpanel" aria-labelledby="v-pills-compliance-tab" tabindex="0">
            {{ user.compliance }}
          </div>
        </div>
    </div>      
</div>
{% endblock %}